.card-desc {
    font-size:20px;
    padding:0%;

}
.card-titulo{
    font-size:30px;
    padding:5%;

}
.grid-contenedor{
    width:90%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px, 1fr));
    gap:10px;
    box-sizing:border-box;
    padding:10px;
    width:100%;
    height:100%;
    margin:5px;
    align-content:center;
}
.card {
    padding:15px;
    margin:20px;
    background:rgb(41, 39, 39);
    border-radius:17px;
    overflow:hidden;
}
.grid-entrenadores{
    display:grid;
    width:90%;
    gap:10px;
    box-sizing:border-box;
    align-content:center;
    grid-template-columns: repeat(auto-fit,minmax(180px, 1fr));
}
.planes{
    display:grid;
    align-content:center;
}